<?xml version="1.0"?>
<!--
/**
 * Selectbiz_Payohmkt extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Selectbiz
 * @package        Selectbiz_Payohmkt
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Selectbiz_Payohmkt>
            <version>1.1.0</version>
        </Selectbiz_Payohmkt>
    </modules>
    <global>
        <resources>
            <payohmkt_setup>
                <setup>
                    <module>Selectbiz_Payohmkt</module>
                    <class>Selectbiz_Payohmkt_Model_Resource_Setup</class>
                </setup>
            </payohmkt_setup>
        </resources>
         <blocks>
            <payohmkt>
                <class>Selectbiz_Payohmkt_Block</class>
            </payohmkt>
        </blocks>
        <helpers>
            <payohmkt>
                <class>Selectbiz_Payohmkt_Helper</class>
            </payohmkt>
        </helpers>
        <models>
            <payohmkt>
                <class>Selectbiz_Payohmkt_Model</class>
                <resourceModel>selectbiz_payohmkt_resource</resourceModel>
            </payohmkt>
            <payohmkt_resource>
                <class>Selectbiz_Payohmkt_Model_Resource</class>
            </payohmkt_resource>
        </models>
        <events>
        	<core_abstract_save_after>
                <observers>
                   <payohmkt_create_wallet>
                      <type>singleton</type>
                      <class>payohmkt/observer</class>
                      <method>createWallet</method>
                   </payohmkt_create_wallet>
               </observers>
            </core_abstract_save_after>
            <core_abstract_save_before>
            	<observers>
            		<payohmkt_send_payment_wallet>
                      <type>singleton</type>
                      <class>payohmkt/observer</class>
                      <method>sendPaymentToWallet</method>
                   </payohmkt_send_payment_wallet>
            	</observers>
            </core_abstract_save_before>
        </events>
    </global>
    <frontend>
		<secure_url>
            <payohmkt>/payohmkt</payohmkt>
        </secure_url>
        <routers>
            <payohmkt>
                <use>standard</use>
                <args>
                    <module>Selectbiz_Payohmkt</module>
                    <frontName>payohmkt</frontName>
                </args>
            </payohmkt>
        </routers>
		<translate>
            <modules>
                <Selectbiz_Payohmkt>
                    <files>
                        <default>Selectbiz_Payohmkt.csv</default>
                    </files>
                </Selectbiz_Payohmkt>
            </modules>
        </translate>
         <layout>
            <updates>
                <payohmkt>
                    <file>payohmkt.xml</file>
                </payohmkt>
            </updates>
        </layout>
	</frontend>
    <adminhtml>
        <translate>
            <modules>
                <Selectbiz_Payohmkt>
                    <files>
                        <default>Selectbiz_Payohmkt.csv</default>
                    </files>
                </Selectbiz_Payohmkt>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Selectbiz_Payohmkt before="Mage_Adminhtml">Selectbiz_Payohmkt_Adminhtml</Selectbiz_Payohmkt>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
		<selectbiz_payoh>
			<payohmkt>
				<autocommission>1</autocommission>
				<commission_amount></commission_amount>
				<create_wallet>1</create_wallet>
				<include_shipping>0</include_shipping>
				<dispatch_payment>0</dispatch_payment>			
			</payohmkt>
		</selectbiz_payoh>
	</default>
</config>
